<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title> Basketball Team Signup </title>
 </head>
 <body>
     <h1> Create a Basketball Team! </h1>
     <form method="POST" action="/team">
         <p>Team Name: <input type="text" teamname="name"></p>
         <p>Coach: <input type="text" coach="coach"></p>
         <p>Point Guard: <input type="text" pg="point_guard"></p>
         <p>Shooting Guard: <input type="text" shootingguard="shooting_guard"></p>
         <p>Small Forward: <input type="text" smallforward="small_forward"></p>
         <p>Power Forward: <input type="text" powerforward="power_forward"></p>
         <p>Center: <input type="text" center="center"></p>
         <input type="Submit">
     </form>
 </body>
</html>
